$font-body: Quando;
$body-text-color: #787878;

body {
    font-family: $font-body;
    font-size: 15px;
    color: $body-text-color;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 25px;
    line-height: 1.6em;
}

$darkgray-color: #111111;

@mixin transition($value) {
    transition: $value;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $darkgray-color;
    @include transition(.20s);

    &:hover {
        color: #999999;
    }
}

$font-heading: 'Josefin Sans', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $font-heading;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $darkgray-color;
}

h1 {
    font-size: 37px;
}
h2 {
    font-size: 31px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 15px;
}

.container {
    width: 94%;
    margin: 0 auto;
}

/* header and main nav */
header {
    font-family: $font-heading;
    nav ul {
        display: none;
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}

/* posts */
article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.image-part {
    margin-bottom: 10px;
}

$post-color: #324360;
$hover-color: #35c4ce;
@mixin uppercase {
    text-transform: uppercase;
}

.post-title {
    margin-top: 0;

    a {
        color: $post-color;
        @include uppercase;
        font-size: 26px;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.3em;
        @include transition(all .3s ease);
    
        &:hover {
            color: $hover-color;
        }
    }
}

/* footer */

$lightgray-color: #989898;

footer {
    padding: 30px 0;
    text-align: center;
    background: #eaf2ff;
    color: $lightgray-color;
}

#footer { 
    a {
        color: $lightgray-color;
    
        &:hover {
            color: $darkgray-color;
        }
    }
}

.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}

.footer-social-links {
    padding: 20px 0;
    line-height: 2em;
    
    a {
    margin: 0 10px;
    font-size: 16px;
    letter-spacing: 1px;
    @include uppercase;
    }

    span {
    display: none;
    }
}

#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: $lightgray-color;
}

@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    header {
        nav {
            max-width: 1170px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
        
            ul {
            
                display: flex;
            }
            
            li {
                margin: 0 15px;
                position: relative;
                line-height: 24px;

                &.menu-item-has-children > a::after {
                    margin-left: 7px;
                    font-family: 'Font Awesome 5 Free';
                    font-size: 13px;
                    color: $post-color;
                    content: '\f078';
                }
            }

            a {
                font-family: $font-heading;
                color: $post-color;
                letter-spacing: 1px;
                @include uppercase;
                font-size: 12px;
                font-weight: 900;
            }
        
            &:hover {
                color: $hover-color;
            }
        }
    }

    .current-menu-item a {
        border-bottom: 2px solid $post-color;
    }

    /* sub nav */
    header {
        nav { 
            ul {
                ul {
                    visibility: hidden;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    z-index: 9999;
                    left: 0;
                    background: #f0f0f0;
                    @include transition(all 0.2s ease-out);
                
                    li {
                        border-top: 1px solid #e9e9e9;
                        margin: 0;
                    }
        
                    a {
                        display: block;
                        color: $darkgray-color;
                        min-width: 175px;
                        margin: 0;
                        padding: 20px 10px;
                        line-height: 1.4em;
                        letter-spacing: 1px;
                        @include transition(.35s);
                    

                        &:hover {
                            background: #ffffff;
                            color: #000; 
                        }
                    }
                }

                li:hover ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    
    /* posts */
    article {
        display: flex;
    }

    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
    
        img {
            @include transition(transform 3.5s ease-in-out);
        
            &:hover {
                transform: scale(1.5,1.5);
            }
        }
    }

    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    /* footer */
    .footer-social-links {
        a {
            margin: 0 28px;
    
            span {
                display: inline;
                font-size: 11px;
            }
        }

        i {
            margin-right: 5px;
        }
    }
}